header {
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
}

#bookshelf-name {
    color: white;
    font-family: var(--title-font-family);
    font-size: 1.5em; /* 24px */
    margin: .3em 0 0 0;
}

#bookshelf-logo {
    width: 100px;
}

#logo-and-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.25em 2.5em 1.25em 2.5em;
}

.logo-and-categories {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.categories-btn, .user-btn, .cart-btn {
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
    cursor: pointer;
    
    color: white;
    font-family: var(--secondary-font-family);
    font-weight: 700;
}

.categories-btn:hover {
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
}

.categories-btn:active, .user-btn:active, .cart-btn:active {
    outline: none;
    border: none;
}



/* Categories Button */

.categories-btn {
    position: relative;
    padding: 0 0 .2em 0;
}

.categories-btn i {
    margin-right: .4em;
}

/* Searchbox */

.searchBox-user-cart {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 3em 0 0;
    width: 60%;
}


/* User and Cart Buttons */
.searchBox-user-cart .user-btn {
    margin-left: 1em;
    padding: .4em;
}

.searchBox-user-cart .cart-btn {
    margin-left: .7em;
    padding: .2em;
}

.searchBox-user-cart .user-btn {
    border: 1px solid white;
    border-radius: .3em;
    padding: .45em 1em;
}

.searchBox-user-cart .cart-btn {
    font-size: 1.4em;
}

.categories-list a,
.categories-list a:visited {
    display: inline-block;
    width: 100%;
    color: #000;
}


.logo-and-categories .categories-list {
    position: absolute;
    visibility: hidden;
    border: 1px solid #144D98;
    background-color: white;
    
}

/* reminder: this action only worked because what we are hovering on(.categories-btn-and-list) is the parent of .categories-list */
.logo-and-categories .categories-btn-and-list:hover .categories-list {
    visibility: visible;
}

.logo-and-categories .categories-list li a {
    padding: .8em 1em;
    font-size: 0.9em;
    width: 78.9%;
}

ul.categories-list li a:not(.selected):hover {
    background-color: #eaeaea;

}

